@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Jost from Fontsource */
@import "@fontsource/jost/400.css";
@import "@fontsource/jost/700.css";

/* Custom font family stack */
body {
  font-family: "Jost", Arial, Helvetica, sans-serif;
}

/* ------ max width size on application ------ */

.max-width {
  max-width: 1400px !important;
}
/* ----- all bg color ---- */
bg-white {
  background-color: #ffffff !important;
}
.bg-darkgray {
  background-color: #262626 !important;
}
.bg-red {
  background-color: #e22d2d !important;
}
bg-green {
  background-color: #438e44 !important;
}
/* ----- all text color ---- */
.text-darkgray {
  color: #222222 !important;
}
.text-white {
  color: #fffcf0 !important;
}
